/* Mission & Vision */

.mission-vision-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:80px;
  align-items:center;
}

/* Mobile */

@media (max-width:768px){

  .mission-vision-grid{
    grid-template-columns:1fr;
    gap:50px;
  }

}